

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="hometext">Resalto</h1>

        <h2 class="hometext"> Projet innovateur et holistique pour les mineurs étrangers non accompagnés </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="img-responsive">
          <div class="fb-page" data-href="https://www.facebook.com/Resalto.asbl/" data-tabs="events,messages,timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-width="380" ><blockquote cite="https://www.facebook.com/Resalto.asbl/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Resalto.asbl/">
            Resalto - Facebook page </a></blockquote></div>
          </div>
        </div>
      </div>

      <div class="row" style="bottom: 0px !important;">
        <div class="col-sm-12 text-center">
          <p class="text-wrap hometext">
            Resalto, signifie ‘rebondir’ en esperanto. Nous sommes convaincus qu’un cadre d’hébergement
            stable et durable, à la fois protecteur et responsabilisant assorti d’un accompagnement
            multidisciplinaire est la condition pour permettre aux enfants étrangers non accompagnés de rebondir.</p>
          </div>
        </div>
