/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts

 h2 {
      word-wrap: break-word;
  color: #FF9500 !important;;
  background-color: rgba(255,255,255, 0.7);
}
// .navbar-btn {
//   border-radius: 25px;
// }

.dropdown-menu > li > a {
     &:hover { border-radius: 25px !important; }
  }

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

$font-family-base: 'Roboto Condensed', sans-serif;
$headings-font-family: 'Raleway', sans-serif;
// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;
$text-color: #0070A5;
 /*-------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;
.hometext {
  background-color:rgba(255,255,255, 0.9);
  border-radius: 25px;
}
h1,p {
  color: #0070A5;

}
h5 {
    color: #FF9500 !important;
  }
$btn-primary-bg: rgba(000, 160, 245, 1);


$border-radius-base: 25px;
//  .navbar-btn {
//   border-radius: 25px !important;
//   background-color: #0070A5;
//   color: #FF9500 !important;
//   border:none;

// }
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

$navbar-default-bg: rgba(248,248,248,0.5);

body {
background-image: image-url('rootswings.jpg');
background-size: 100%;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
$well-bg:  rgba(248,248,248,0.8);
.wellsize {
    display:block;
    width:100%;
    height:400px;
    background-color:#475;
    overflow:auto;
}
