  <%= render 'shared/navbar_fr' %>

<div class="row">
<% @pubs.each do |pub| %>
<div class="col-md-3 col-lg-6">
  <div class="well wellsize text-center">
     <h2> <%= pub.titre %> </h2>
     <h3> <%= pub.content %> </h3>
  </div>
 </div>
<% end %>
</div>
